  .btn_bar:hover{
    background-color: rgba(22, 22, 22, 0.404);;
  }
  .solgon-box{
    height: 40px;
  }
  .text_box{
    padding: auto 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  h1{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;

  }
  .datalist_banner_img_box{
    margin: 0 auto;
    width: 100%;
  }
  .datalist_img_box{
    width: 20%;
    padding: 0 ;
  }
  .datalist_img_box_outline{
    box-shadow: 0px 0px 2px 4px rgb(245, 203, 66);
  -webkit-box-shadow: 0px 0px 2px 4px rgb(245, 203, 66);
  -moz-box-shadow: 0px 0px 2px 4px rgb(245, 203, 66);
  -o-box-shadow: 0px 0px 2px 4px rgb(245, 203, 66);

  }
  .text-aria-color{
    color:rgba(194, 128, 5, 0.979)
  } 
  .bgcolor{
    font-weight: bold;
    color: white;
    background-color:rgba(194, 128, 5, 0.979)
  }
  .price_select_border{
    border-bottom: 2px solid rgba(253, 171, 17, 0.918);
  }