<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>後台管理系統</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js' integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw==' crossorigin='anonymous'></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Open+Sans&display=swap');
    /* 
    * {
      outline: 1px solid #000;
    } */

    body {
      font-family: 'Noto Sans TC', sans-serif;
    }

    img {
      object-fit: contain;
      max-width: 100%;
    }

    .imageBox {
      height: 400px;
    }

    .click-bgcolor {
      background-color: rgba(33, 37, 41, 0.075);
      opacity: 0.5;
    }

    .click-bgcolor:hover {
      background-color: rgba(255, 255, 255, 0);
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="container">
      <div class="row py-3 flex-nowrap justify-content-between w-100">
        <div class="d-flex align-items-center">
          <h1>後台管理系統</h1>
          <button type="button" class="btn btn-outline-danger ms-auto border-2 fw-bold" @click="LogOut">Log out</button>
        </div>
      </div>
      <div class="row py-3 border-top border-3 ">
      </div>
      <div class="row">
        <div class="d-flex justify-content-between align-items-center text-center">
          <h2 class="my-0">產品列表</h2>
          <p class="me-auto my-0">目前有 <span>{{productsList.length }}</span> 項產品</p>
          <button type="=button" class="btn btn-primary me-3" @click="addNewData()">新增產品</button>
          <button type="=button" type="button" v-if="deleteBatchArr.length == 0" class="btn btn-secondary " disabled>刪除選取項目</button>
          <button v-else type="=button" type="button" class="btn btn-outline-danger" @click="openDeletebatchModal()">刪除選取項目</button>
        </div>
        <table class="table table-hover mt-4 text-center" class="">
          <thead>
            <tr>
              <th width="120">
              </th>
              <th width="120">
                預覽圖
              </th>
              <th width="120">
                產品名稱
              </th>
              <th width="120">
                產品類型
              </th>
              <th width="120">
                原價
              </th>
              <th width="120">
                售價
              </th>
              <th width="120">
                商品狀態
              </th>
              <th width="120">

              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item,index) in productsList" :key="item.id" class="">
              <label for="#input">
                <td width="2%">
                  <input type="checkbox" id="input" @change="test(item.id)">
              </label>
              </td>
              <td width="10%" class="align-middle">
                <div class="  d-flex justify-content-center align-items-center">
                  <div class="w-75 mx-0 my-auto">
                    <img class="" :src="item.imageUrl" alt="">
                  </div>

                </div>
              </td>
              <td width="">
                {{item.title}}
              </td>
              <td width="">
                {{item.category}}
              </td>
              <td width="10%">{{item.origin_price}}</td>
              <td width="10%">{{ item.price }}</td>

              <td width="10%" class="text-center">

                <span v-if="item.num===0" class="badge rounded-pill bg-danger fs-6">已售完</span>

                <span v-else-if="item.is_enabled===1" class="badge rounded-pill bg-success fs-6 fw">銷售中</span>

                <span v-else class="badge rounded-pill bg-secondary fs-6">下架</span>
              </td>
              <td width="20% ">
                <button type="button" class="btn btn-success me-3" @click="checkItem(item,index)" :data-id="index">查看/編輯</button>
                <button type="button" class="btn btn-outline-danger " @click="openDeleteModal(item)" :data-id="index">刪除</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Add&Edit modal -->
    <div class="modal fade" id="selectModal">
      <div class="modal-dialog modal-xl ">
        <div class="modal-content ">
          <div class="modal-header ">
            <h5 class="modal-title" id="staticBackdropLabel">編輯商品</h5>
            <button type="button" class="btn-close" aria-label="Close" @click="closeModal()"></button>
          </div>

          <div class="modal-body ">
            <div class="container-fluid">
              <div class="d-flex">
                <div class="col-5 h5 fw-bold mb-1">
                  新增圖片
                  <!-- 滾動要添加height -->
                  <div class="d-flex flex-column" style="height: 600px; overflow-y: scroll;">
                    <div v-for="image in itemList.imagesUrl" :key="image" class="my-1 ps-0 pe-1 ">
                      <div class="input-group mb-2">
                        <input type="text" class="form-control " placeholder="請輸入圖片網址" aria-label="Recipient's username" aria-describedby="button-addon2" :value="image" style="float: left;">
                        <button class="btn btn-primary" type="button" id="button-addon2">送出</button>
                      </div>
                      <div class="col-12">
                        <img class="w-100" :src="image" alt="">
                      </div>
                      <button v-if="image!==''" class="btn btn-danger col-12 mt-2" type="button" id="button-addon2">刪除</button>
                    </div>
                  </div>
                </div>
                <div class="col-7 ">
                  <div class="row ps-3 mb-2">
                    <div class="">
                      <label for="productName" class="form-label h5 fw-bold mb-1">產品名稱</label>
                      <input type="text" class="form-control" id="productName" placeholder="請輸入商品名稱，如 含笑半步顛、我愛一條柴" v-model="itemList.title">
                    </div>
                  </div>
                  <div class="row ps-3 mb-2">
                    <div class="col-4 ">
                      <label for="productType" class="form-label h5 fw-bold mb-1">產品分類</label>
                      <input type="text" class="form-control" id="productType" placeholder="請輸入產品分類:" v-model="itemList.category">
                    </div>
                    <div class="col-4 ">
                      <label for="productEnable" class="form-label h5 fw-bold mb-1">產品狀態</label>
                      <select class="form-select" aria-label="Default select example" id="productEnable" v-model="itemList.is_enabled">
                        <option selected>請選擇產品狀態</option>
                        <option value="0">下架</option>
                        <option value="1">上架</option>
                        <option value="2">售完</option>
                      </select>
                    </div>

                    <div class="col-4">
                      <label for="Price" class="form-label h5 fw-bold mb-1">商品單位</label>
                      <input type="text" class="form-control" id="Price" placeholder="商品單位" v-model="itemList.unit">
                    </div>
                  </div>
                  <div class="row ps-3 mb-2">
                    <div class="col-4">
                      <label for="originPrice" class="form-label h5 fw-bold mb-1">原價</label>
                      <input type="number" class="form-control " id="originPrice" placeholder="元" v-model="itemList.origin_price">
                    </div>
                    <div class="col-4 ">
                      <label for="Price" class="form-label h5 fw-bold mb-1">售價</label>
                      <input type="number" class="form-control" id="Price" placeholder="元" v-model="itemList.price">
                    </div>
                    <div class="col-4 ">
                      <label for="Price" class="form-label h5 fw-bold mb-1">庫存數量</label>
                      <input type="number" class="form-control" id="Price" placeholder="商品單位" v-model="itemList.quantity">
                    </div>

                  </div>
                  <div class="row ps-3 mb-2">
                    <div class=" col-12 ">
                      <label for="productContent" class="form-label h5 fw-bold mb-1">商品內容</label>
                      <textarea class="form-control overflow-auto align-self-stretch" placeholder="商品內容" id="productContent" v-model="itemList.content" style="height:100px;resize: none;text-align: justify;"></textarea>
                    </div>
                  </div>
                  <div class="row ps-3 mb-2">
                    <div class=" col-12 ">
                      <label for="productContent" class="form-label h5 fw-bold mb-1">商品描述</label>
                      <textarea v-model="itemList.description" class="form-control overflow-auto align-self-stretch " placeholder="請詳細描述商品" id="productContent" style="height:200px;resize: none; text-align: justify;"></textarea>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-secondary" @click="closeModal()">返回</button>
            <button type="button" class="btn btn-primary" @click="pushData(itemList.id)">送出</button>
          </div>
        </div>
      </div>
    </div>
    <!-- delete modal -->
    <div class="modal fade" id="deleteModal">
      <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h5 class="modal-title fw-bolder text-light " id="exampleModalLabel">注意!</h5>
          </div>
          <div class="modal-body my-3 ">
            <p class="fs-5 border-bottom border-2">準備刪除下列商品</p>
              <span class="text-primary text-opacity-75">商品名稱：</span>
              <p>{{itemList.title}}</p>
              <span class="text-primary text-opacity-75">商品ID：</span>
              <p>{{itemList.id}}</p>
          </div>
          <div class="modal-footer d-flex">
            <p class="me-auto">確認無誤後，請按下刪除鍵</p>
            <button type="button" class="btn btn-secondary" @click="closeModal()">返回</button>
            <button type="button" class="btn btn-danger" @click="deleteData(itemList.id)">確定刪除</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 批量刪除 -->
    <div class="modal fade" id="deletebatchModal">
      <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h5 class="modal-title fw-bolder text-light " id="exampleModalLabel">注意!</h5>
          </div>
          <div class="modal-body my-3 ">
            <p class="fs-5 border-bottom border-2">準備刪除下列商品</p>
              <p class="text-primary text-opacity-75">商品ID：</p>
              <ol >
                <template v-for="item, index in deleteBatchArr" :key="index">
                  <li>{{item}}</li>
                </template>
                
              </ol>
          </div>
          <div class="modal-footer d-flex">
            <p class="me-auto">確認無誤後，請按下刪除鍵</p>
            <button type="button" class="btn btn-secondary" @click="closeModal()">返回</button>
            <button type="button" class="btn btn-danger" @click="deleteBatchData()">確定刪除</button>
          </div>
        </div>
      </div>
    </div>
    <!-- successModal -->
    <div class="modal fade" id="successModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-success bg-opacity-25">
            <h5 class="modal-title">成功</h5>
          </div>
          <div class="modal-body">
            <span v-if="is_Edit===0">新增資料</span>
            <span v-else-if="is_Edit===1">更新資料</span>
            <span v-else-if="is_Edit===2">刪除資料</span>
            <span>操作成功，五秒後自動重整頁面或是自行關閉</span>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-secondary" @click="closeSuccessModal()">關閉</button>
          </div>
        </div>
      </div>
    </div>
    <!-- errorModal -->
    <div class="modal fade" id="errorModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header ">
            <h5 class="modal-title">錯誤</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <span v-if="is_Edit===0">新增資料</span>
            <span v-else-if="is_Edit===1">更新資料</span>
            <span v-else-if="is_Edit===2">刪除資料</span>
            <span>操作失敗，詳細請聯絡管理員(頁面需自行關閉)。</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="closeErrorModal()">關閉</button>
          </div>
        </div>
      </div>
    </div>
    <button type="button" @click="openSuccessModal()">test</button>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="./js/product.js" type="module"></script>
</body>

</html>